@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    line-height: 1.6em;
}

:root {
    --colorBlack:#333;
    --colorWhite:#fff;
    --colorBlue:#2690d4;
    --colorGray: #666;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;  
}

body img {
    width: 100%;
    display: block;
}

header {
    color: var(--colorWhite);
    background-image: url(../images/header.png);
    padding: 100px 25px;
    background-position: center;
    background-size: cover;
    opacity: .80;
    text-shadow: 1px 1px black;
}

header button {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    padding: 12px 28px;
    border: 1px solid var(--colorGray);
    font-size: 1.1em;
    margin-top: 20px;
}

header button:hover {
    background-color: white;
    color: var(--colorBlack);
    border: 1px solid var(--colorBlue);
}

/* SECTIONS GENERAL */
.content-title {
    padding: 1em;
}

.content-sec {
    padding: 1.5em;
}


/* SECTION A */

#section-a p {
    padding: 1em 0px;
}

/* SECTION B */

#section-b {
    background-color: var(--colorBlack);
    padding: 2em 1em;
}

.card-content {
    background-color: white;
    padding: 1em;
}


#section-b ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul .card {
    padding: .5em 0px;
}

.card-title, .card-text {
    padding: 1em 0em;
}

/* Footer Boxes */
.footer-box {
    color: var(--colorWhite);
}

.box-title {
    font-size: 1.5em;
    padding: 1em 0px;
}

.box-content {
    padding: 1em 0px;
}

#contact-us {
    background-color: var(--colorBlue);
    padding: 2em;
}

.footer-box a {
    text-decoration: none;
    color: var(--colorWhite);
    padding: .5em;
}

.footer-box a:hover {
    color: var(--colorWhite);
    background-color: #2e78a7;
    border-radius: 10px;
}

#about-us {
    background-color: var(--colorBlack);
    padding: 2em;
}

/* Main Footer */

footer {
    background-color: black;
    color: var(--colorWhite);
    padding: 2em;
}

footer a {
    text-decoration: none;
    color: var(--colorBlue);
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 700px) {

#section-a p {
    columns: 2;
}

#section-b ul {
    display: flex;
    justify-content: space-around;
    max-width: 880px;
    align-content: center;
    margin: auto;
}

#section-b ul li {
    width: 31%;
}

.footer-box, #main-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}






}