@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.7em;
}

:root{
    --colorBlack:#333;
    --colorWhite:#fff;
    --colorBlue:#2690d4;
    --colorGray: #666;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    
}

header {
    color: var(--colorWhite);
    background-image: url(../images/header.png);
    padding: 100px 25px;
    min-height: max-content;
    background-position: center;
    background-size: cover;
    opacity: .86;
}

header p {
    padding: 18px;
}

header button {
    background-color: var(--colorBlack);
    color: var(--colorWhite);
    padding: 12px 28px;
    border: 1px solid var(--colorGray);
    font-size: 1.1em;
}

header button:hover {
    background-color: white;
    color: var(--colorBlack);
    border: 1px solid var(--colorBlue);
}

main {
    max-width: 880px;
    margin: auto;
    padding: 0px 18px;
    display: grid;
    grid-template-areas: 
    "sec1 sec1 sec1"
    "sec2 sec2 sec2"
    "sec3 sec3 sec3"
    ;
}

.contentSec {
    padding: 27px 40px;
}

#firstSec {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-area: sec1;
}

#firstSec h1, .contentTitle {
    margin: 27px;
}

#firstSec h2 {
    grid-column: 1 / 3;
}

#firstSec > p {
    columns: 2;
    column-gap: 2.5em;
}

img {
    width: 100%;
}

#secondSec {
    display: flex;
    background-color: var(--colorBlack);
}

.cardsBox {
    background-color: var(--colorBlue);
    grid-area: sec2;
    display: flex;
    gap: 1em;
    padding: 2em;
    width: auto;
}

.cardContent {
    background-color: var(--colorWhite);
    max-width: 272px;
}

.cardContent h3 {
    padding: 1.5em 1em;
}

.cardContent p{
    padding: .6em 1.5em 2em 1.5em;
}

#thirdSec {
    grid-area: sec3;
}

footer {
    display: grid;
    grid-template-areas: 
    "sec1 sec2"
    "sec3 sec3"
    ;
}

#contactUs {
    grid-area: sec1;
    background-color: var(--colorBlue);
    color: var(--colorWhite);
}

#contactUs a {
    display: block;
    text-decoration: none;
    color: var(--colorWhite);
    margin-top: 1.5em;
}

#aboutUs {
    grid-area: sec2;
    background-color: var(--colorBlack);
    color: var(--colorWhite);

}

.footerBox {
    padding: 2em;
}

#contactFooter {
    grid-area: sec3;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: var(--colorWhite);
    padding: 2em;

}

#contactFooter a {
    color: var(--colorBlue);
    text-decoration: none;
    font-weight: 600;
}

