@charset "UTF-8";

:root {
    --font01: 'lato', sans-serif;

    --cor01: #B3B3B3;
    --cor02: #805959;
    --cor03: #666666;
    --cor04: #B37D7D;
    --cor04: #292929;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    display: block;

    color:var(--cor03);
    height:100%;
    margin:auto;
    font-size:16px;
    font-family:"Lato", sans-serif;
    font-weight:100;
    line-height:1.8em;
    max-width: 1080px;
    background-color: #b37d7d36;
}

.imageSection {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .70;
}

p.emphasisBox {
    font-variant: small-caps;
    font-size: 1.6em;
    text-align: center;
    background-color: var(--cor04);
    color: white;
    padding: 15px 25px;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    white-space: nowrap;
    transform: translate(-50%,-50%);
}


.imageOne {
    background-image: url(../images/image01.jpg);
    min-height: 100vh;
}

#imageTwo {
    background-image: url(../images/image02.jpg);
    min-height: 400px;
}

#imageThree {
    background-image: url(../images/image03.jpg);
    min-height: 400px;
}

p.imageText {
    color: aliceblue;
    text-shadow: 2px 2px 2px var(--cor03);
    font-size: 1.8em;
    letter-spacing:8px;
    text-transform: uppercase;
    display: block;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.darkSection {
    background-color: #292929;
    color: #B3B3B3;
    box-shadow: 0px 0px 10px var(--cor02);
}

.lightSection {
    background-color: whitesmoke;
    color: var(--cor03);
    box-shadow: 0px 0px 10px var(--cor02);
}

.textSection {
    text-align: center;
    padding: 60px;
}

.textSection > h2 {
    margin-bottom: 25px;
}   



/* font-variant */